<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.epam.computershop.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>com.epam.computershop.servlet.UploadServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/includes.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    <listener>
        <description>servletContextListener</description>
        <listener-class>com.epam.computershop.listener.MainServletContextListener</listener-class>
    </listener>
    <listener>
        <description>sessionListener</description>
        <listener-class>com.epam.computershop.listener.MainHttpSessionListener</listener-class>
    </listener>
    <context-param>
        <param-name>defaultLang</param-name>
        <param-value>en</param-value>
    </context-param>
    <context-param>
        <param-name>uploadsFolder</param-name>
        <param-value>uploads</param-value>
    </context-param>
    <filter>
        <filter-name>accessFilter</filter-name>
        <filter-class>com.epam.computershop.filter.MainServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/do/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>localeFilter</filter-name>
        <filter-class>com.epam.computershop.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>localeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>accessFilter</filter-name>
        <url-pattern>/do/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.epam.computershop.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
</web-app>